{% extends 'base.html' %} 

{% block content %}

<div class="row">
  <col-12 class="col-md-6 center">
  <h1> Write Your Review</h1>
</col-12>
</div>

<hr>
<br>
<div class="container-fluid">
  <div class="row">
    <col-12 class="col-md-6">
    <form form class="row g-3" method="POST" action="{% url 'reviews' %}" id="review-form">
      <div class="mb-3">
        {% csrf_token %}
        {{ form|crispy }}
        <input href="" type="submit" value ="submit" class="btn btn-warning"></input>
      </div>
    </form>
    </col-12>
  </div>
</div>


{% endblock %}