{% extends 'base.html' %} {% block content %}
<div class="center">
<h1 class="mt-5">Your Basket</h1>
<h4 ><strong>Total: ${{ total }}</strong> </h4>


</div>

<div class="container-fluid center">
	<div class="row">
		<div class="col-sm-12 col-md-6 offset-md-3">
			<hr/>
			<!-- Credit/Table taken from Bootstrap and amended for this project -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">Wine</th>
						<th scope="col">Type</th>
						<th scope="col">Quantity</th>
						<th scope="col">Price Per Bottle</th>
					</tr>
				</thead>
				<tbody>
					{% for item in basket_items %}
					<tr>
						<td></td>
						<td>{{ item.wine.wine_name }}</td>
						<td>{{ item.wine.wine_type }}</td>
						<td><form method="post" action="">
							<input class="w-0 center quantity" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="50" data-item="{{item.item_id}}" id="id_qty_{{item.item_id}}">
						</form></td>
						<td>${{ item.wine.price }}</td>
					</tr>

					{% endfor %} 
				</tbody>
			</table>
			<div class="center">
				<a href="{% url 'checkout' %}" class="btn btn-warning">Secure Checkout</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
