{% extends 'base.html' %} 

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h1 class="center">{{ profile }}'s Profile</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 center">
			<h4><strong> Personal Info</strong></h4>
			<hr />
			<!-- Credit: Bootstrap Form and customised for this project-->
			<form class="row g-3" action="{% url 'profile' %}" method="POST" id="profile-form">
				{% csrf_token %}
				{{ form|crispy }}
				<button type="submit" class="btn btn-danger">Edit Information</button>
			</form>



			</form>
		</div>
		
			<div class="col-12 col-md-6 center">
        <h4><strong> Order History</strong></h4>
		<hr>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Order Number</th>
					<th scope="col">Date and Time</th>
					<th scope="col">Order Total</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
				<tr>
					<td></td>
					<td>
						<a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a>
					</td>
					<td>{{ order.date }}</td>
					<td>${{ order.order_total }}</td>
				</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td>{{ item.wine.wine_name }}</td>
					<td>{{ item.wine.wine_type }}</td>
					<td><form method="post" action="">
			</div>
		
	</div>
</div>

{% endblock %}
