{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="containr-fluid">
	<div class="row ">
		<div class="col-12 col-md-4 offset-md-4 center form-container">
    <h1>{% trans "Set Password" %}</h1>
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-warning" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
        </div>
    </div>
</div>
{% endblock %}
