{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block meta %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="Description" content="Enter your description here" />
		{% endblock %} 
		
		{% block corecss %}
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="{% static './css/style.css' %}" />
		{% endblock %} 
		{% block extra_css %}
		{% endblock %}
		
		{% block corejs %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>
		<script src="https://js.stripe.com/v3/"></script>
		
		{% endblock %}
	</head>
	<body>
		{% include 'navbar.html' %}
		
		<div id="top-banner" class="center">
			<h6 id="messages">
					{% if messages %} 
					{% for message in messages %}
					{{ message }}
				{% endfor %} 
				{% endif %} 
			</h6>
		</div>
		{% block content %} 
		{% endblock %}
		<footer>
			<div class="container-fluid">
				<div id="footer-style"  class="row center no-gutters">
					<div class="col-4">Contact Info</div>
					<div class="col-4"><p>Site For Education Purposes</p> </div>
					<div class="col-4" id="social">
						<ul>
							<li><a href="https://en-gb.facebook.com/" target="_blank"><i class="fab fa-facebook fa-lg"></i></a></li>
							<li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube fa-lg"></i></a></li>
							<li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		{% block postloadjs %}
		{% endblock %}
	</body>
</html>
