{% load static %}

<!-- *Credit* navbar from bootstrap and then modified for this project -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
	<div class="container-fluid">
		<a id="logo" class="navbar-brand" href="{% url 'home' %}">Vino</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form class="mx-auto d-flex" action=" {% url 'products' %}" method="get">
				<input
					class="form-control me-2"
					type="search"
					placeholder="Search for wines...."
					aria-label="Search"
					name="search_query"
				/>
				<button class="btn btn-danger" type="submit">Search</button>
			</form>

			<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{% url 'home' %}"
						>Home</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="{% url 'products' %}"
						>All Wines</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="{% url 'products' %}?category=Red">
						Reds</a>
					
				</li>
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="{% url 'products' %}?category=White"
						>Whites</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="{% url 'products' %}?category=Rosé"
						>Rosé </a
					>
				</li>

			</ul>
			<ul class="navbar-nav mx-auto mb-2 mb-lg-0 center nav-hover">
									{% if request.user.is_authenticated %}
					<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{% url 'profile' %}"
						><i class="fas fa-2x fa-user"></i></a>
				</li>

				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="#"
						><i class="fas fa-2x fa-shopping-basket"></i></a
					>
				</li>

				<li class="nav-item">
					<a class="nav-link"
						aria-current="page"
						href="{% url 'account_logout' %}"
						><i class="fas fa-2x fa-sign-out-alt"></i></a>
				</li>

				{% else %}
				<li class="nav-item">
					<a class="nav-link"
				aria-current="page"
				href="{% url 'account_login' %}"
				>Sign In</a>
				</li>
				</li>
					<li class="nav-item">
				<a class="nav-link" aria-current="page" href="#"
				></a>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
<i class="fas fa-bed-alt"></i>
