
{% extends 'base.html' %} 

{% load static %} 

{% block content %}
<div class="center">
<h1 class="center mt-4">Add Products </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 form-container">
            <form method="POST" action="{url 'add-product' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <div class="center">
                <button class="btn btn-danger" type="submit">Submit</button>
                <a class="btn btn-warning" href="">Cancel</a>
            </div>
                <br>

            </form>
        </div>
    </div>
</div>


{% endblock %}