{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row wine-details">
        <div class="col-12 col-md-6 center">
            
            <h1 >{{ bottle.wine_name }} {{ bottle.year }}</h1>
            <p>
                Description: <br> {{ bottle.description }}Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Explicabo consequatur quisquam dolores in, quaerat dolor tempora minima omnis voluptas repudiandae 
                corporis voluptatum ipsam itaque, id laboriosam maiores et cumque aspernatur!
            </p>
            <p>Winery: {{ bottle.winery }}
            <p>Country: {{ bottle.country }}</p>
            </p>
            <hr>
            <p>Type: {{ bottle.wine_type }}</p>
            <p>Rating: {{ bottle.rating }} / 5</p>
            <p>Price $ {{ bottle.price }}</p>
            <form class="form"  action="{% url 'add_to_basket' bottle.id %}" method="POST">
                {% csrf_token %}
        <div class="input-group">
                <label for="id_qty_{{bottle.id}}">Quantity:</label>
                <input class="w-0 center" type="number" name="quantity" value="1" min="1" max="50" data-item="{{bottle.id}}" id="id_qty_{{bottle.id}}">
            </div>
                <input type="submit" class="btn btn-warning"></input>
                <a href="{% url 'products' %}" class="btn btn-danger">Back</a>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">


            </form>
            
        </div>
        <div class="col-12 col-md-6 center">
            {% if bottle.image %}
            <img class="center img-size" src="{{ bottle.image.url }}" alt="Bottle of wine">
            {% else %}
            <img src="../../../media/images/default.png" class="center img-size"  alt=" Bottle of wine" />
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}