{% extends 'base.html' %} {% block content %}

<div class="container">
	<div class="row ">
		{% for wine in wines %}
		<div class="col-12 col-md-4 container">
			<div class="card card-size" >
				{% if wine.image %}
				<img src="{{ wine.image.url }}" class=" products-img" alt=" Bottle of wine" />
				{% else %}
				<img src="/static/images/wines/default.png" class=" products-img" alt=" Bottle of wine" />
				{% endif %}

				<div class="card-body">
					<h5>{{ wine.name }}</h5>
					<p class="card-text">{{ wine.description }}</p>
					<p>Price $ {{wine.price }}</p>
					<p>Type: {{ wine.type }}</p>
					<p>Rating: {{wine.rating }}</p>
					<a href="{% url 'product-info' wine.id %}" class="btn btn-primary"
						>Info</a
					>
					<a href="" class="btn btn-warning"
						>Add to Cart</a
					>
				</div>
			</div>
			
		</div>
		
		{% endfor %}
	</div>
</div>

{% endblock %}


