{% extends 'base.html' %} 

{% block content %}

<div class=" container-fluid">
<div class="row">
				{% for wine in wines %}
			<div class="col-12 col-md-4 col-lg-3 center">
		
			<div class="card h-100 m-4">
				{% if wine.image %}
				<img src="{{ wine.image.url }}" class="card-image card-img-top" alt=" Bottle of wine" />
				{% else %}
				<img src="../../../media/images/default.png" class="card-image" alt=" Bottle of wine" />
				{% endif %}
				<!-- "card-img-top img fluid -->
				<div class="card-body-size center">
					<h6><strong>{{ wine.wine_name }}</strong></h6>
					<p>Price $ {{wine.price }}</p>
					<p>Type: {{ wine.wine_type }}</p>
					<p>Rating: {{wine.rating }}</p>
					<div  class="card-btn">
						<a href="{% url 'product-info' wine.id %}" class="btn btn-danger center ">Info</a>
						<a href="" class="btn btn-warning center">Add to Cart</a>
					</div>
			
			
				</div>
			</div>
			
		
	</div>
		{% endfor %}
	
</div>
	
</section

{% endblock %}


