{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row wine-details">
        <div class="col-12 col-md-6 center">
            
            <h1 >{{ bottle.wine_name }} {{ bottle.year }}</h1>
            <p>
                Description: <br> {{ bottle.description }}Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Explicabo consequatur quisquam dolores in, quaerat dolor tempora minima omnis voluptas repudiandae 
                corporis voluptatum ipsam itaque, id laboriosam maiores et cumque aspernatur!
            </p>
            <p>Winery: {{ bottle.winery }}
            <p>Country: {{ bottle.country }}</p>
            </p>
            <hr>
            <p>Type: {{ bottle.wine_type }}</p>
            <p>Rating: {{ bottle.rating }} / 5</p>
            <p>Price $ {{ bottle.price }}</p>
            <a href="{% url 'products' %}" class="btn btn-danger">Back</a>
            <a href="" class="btn btn-warning">Add to Cart</a>
        </div>
        <div class="col-12 col-md-6 center">
            {% if bottle.image %}
            <img class="center img-size" src="{{ bottle.image.url }}" alt="Bottle of wine">
            {% else %}
            <img src="../../../media/images/default.png" class="center img-size"  alt=" Bottle of wine" />
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}